/* Universal Styles */

body {
	font-family: 'Montserrat', sans-serif;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
}

/* These are the HEADER and NAVIGATION styles */

header {
	height: 100px;
	margin: 0 auto;
}

header h1 {
	float: left;
	font-size: 30px;
	margin: 0;
	padding-top: 30px;
	text-transform: uppercase;
}

header .rogue,
h3,
.column-one li,
.fresh {
	color: #77a466;
}

header .navbar {
	float: right;
	padding-top: 45px;
}

header .navbar ul {
	margin: 0;
	padding: 0;
}

header .navbar ul li {
	display: inline;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0 10px;
}

header .navbar ul li a {
	color: #9bbc8f;
	font-weight: 700;
	text-decoration: none;
}

/* These are the HERO IMAGE and WELCOME SECTION styles  */

.hero-image {
	height: auto;
}

.hero-image img {
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.welcome-paragraph h3 {
	font-size: 18px;
	text-transform: uppercase;
}

.welcome-paragraph p {
	font-size: 16px;
	line-height: 25px;
	padding-bottom: 10px;
}

/* These are the COLUMN styles */

.column-container {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	height: 200px;
}

.column-container h4 {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.column-one,
.column-two,
.column-three {
	float: left;
	padding-top: 10px ;
	width: 33%;	
}	

.column-two {
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}

.column-one ul {
	margin: 0;
	padding: 0;
}

.column-one ul li {
	display: block;
	line-height: 30px;
	text-decoration: none;
}

.column-two p {
	line-height: 21px;
	padding: 0 24px;
}

.column-two h4 {
	padding: 0 24px;
}

.column-three ul {
	margin: 0;
	padding: 0;
}

.column-three ul li {
	display: block;
	line-height: 24px;
	padding: 0 24px;
	text-decoration: none;
}

.column-three h4 {
	padding: 0 24px;
}

/* These are the FOOTER styles */

footer {
	clear: both;
}

footer h4 {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

footer .fresh {
	font-family: 'Cedarville Cursive', cursive;
	font-size: 25px;
	text-transform: lowercase;
}